#page-header:not(.not-top-img)::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    content: "";
}
#footer{
    background-color: transparent;

}

#page-header {
    position: relative;
    width: 100%;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
#pagination .page-number.current {
    background: #ee8b23;
    color: var(--white);
}


.cover.element.style {
    background: #7284e5;
}

/* 顶部加载条 */
/*顶部加载进度条*/
.pace {
	pointer-events: none;
	user-select: none;
	z-index: 2;
	position: fixed;
	margin: auto;
	top: 4px;
	left: 0;
	right: 0;
	height: 8px;
	border-radius: 8px;
	width: 6rem;
	background: #eaecf2;
	overflow: hidden;
  }
  
  .pace-inactive .pace-progress {
	opacity: 0;
	transition: 0.3s ease-in;
  }
  
  .pace.pace-inactive {
	opacity: 0;
	transition: 0.3s;
	top: -8px;
  }
  
  .pace .pace-progress {
	box-sizing: border-box;
	transform: translate3d(0, 0, 0);
	position: fixed;
	z-index: 2;
	display: block;
	position: absolute;
	top: 0;
	right: 100%;
	height: 100%;
	width: 100%;
	background: #49b1f5;
	background: linear-gradient(
	  to right,
	  rgb(18, 194, 233),
	  rgb(196, 113, 237),
	  rgb(246, 79, 89)
	);
	animation: gradient 2s ease infinite;
	background-size: 200%;
  }

#nav-right {
	flex: 1 1 auto;
	justify-content: flex-end;
	margin-left: auto;
	display: flex;
	flex-wrap: nowrap;
}

/* 搜索框设置 */
.search-dialog .search-nav {
    margin: 0 0 14px;
    color: #0b3051;
    font-size: 1.4em;
    line-height: 1;
}

.custom-hr, .search-dialog hr {
    position: relative;
    margin: 40px auto;
    border: 2px dashed #6f42c124;
}

#local-search .search-dialog .local-search-box input {
    padding: 5px 14px;
    width: 100%;
    outline: none;
    border: 2px solid #0c74cd;
    border-radius: 40px;
    background: var(--search-bg);
    color: var(--search-input-color);
    -webkit-appearance: none;
}

/* 设置cover */
/*尝试更改左侧栏目的颜色*/
#aside-content #card-toc .toc-content .toc-link.active {
  background: #6f42c1b0;
  color: #fff;
}
.layout > div:first-child {
  width: 80%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

/*透明*/
/* 文章页背景 */
.layout_post>#post {
  /* 以下代表透明度为0.7 可以自行修改*/
  background: rgba(255,255,255,.7);
}

/* 所有页面背景 */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
  /* 以下代表透明度为0.7 */
  background: rgba(255,255,255,.7);
}
/*侧边卡片的透明度 */
:root {
--card-bg: rgba(255, 255, 255, .7);
}
/* 页脚透明 */
#footer {
/* 以下代表透明度为0.7 */
background: rgba(255,255,255, .0);
}

.layout #post {
  font-size: 18px
}
/*侧边栏字体*/
#aside-content #card-toc .toc-content .toc-link {
  color: rgb(0 14 122);
}

/*Follow*/
:root {
  --btn-hover-color: #6f42c1;
  --btn-bg: #595eff;
}

/*搜索框*/
.search-dialog {
  background-color: rgba(255, 255, 255, .7);
}
/*底部索引颜色*/
#pagination .page-number.current {
  background: #602fd1;
  color: var(--white);
}