#page-header:not(.not-top-img)::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    content: "";
}
#footer{
    background-color: transparent;

}

#page-header {
    position: relative;
    width: 100%;
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
#pagination .page-number.current {
    background: #fcff69ad;
    color: var(--white);
}


element.style {
    background: #7284e5;
}